body {
	margin: 0;
}
.demo_banner-section {
	background-image: url(../img/slider/d1.jpg);
	padding: 300px 0px;
}
.demo_banner-section h1 {
	color: #fff;
	line-height: 1.5;
	font-size: 50px;
	margin-bottom: 40px;
}
.demo_logo {
	margin-bottom: 50px;
}
.demo_banner-section .background-overlay {
	background-color: rgba(0, 0, 0, 0.8);
}
.demo_banner_text {
	z-index: 1;
	position: relative;
}
@-webkit-keyframes mover {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px); 
	} 
}

@keyframes mover {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px); 
	} 
}
.demo_scoll a {
	color: #fff;
	padding: 20px 10px;
	border-radius: 20px;
	border: 1px solid #fff;
}
.demo_scoll a i {
	animation: mover 1s infinite alternate;
}
.area-title {
	margin: 0 auto;
	max-width: 545px; 
}
.area-title span {
	color: #3763ec;
	font-size: 16px;
	font-weight: 700;
	font-family: "Roboto"; 
}
.area-title h2 {
	margin: 0 auto;
	font-size: 36px;
	font-weight: 700;
	max-width: 320px;
	margin-bottom: 35px;
	position: relative; 
}
.area-title h2 span {
	font-size: 36px;
	font-weight: 300;
}
.area-title h2:after {
	top: 15px;
	content: '';
	height: 2px;
	width: 50px;
	left: -46px;
	position: absolute;
	background-color: #f3525a;
}
.area-title h2:before {
	top: 22px;
	content: '';
	height: 2px;
	width: 25px;
	left: -20px;
	position: absolute;
	background-color: #f3525a;
}
.demo-section {
	padding: 120px 0px 60px;
}
.demo_pages {
	display: block;
	width: 100%;
	padding-top: 50px;
}
.demo_link {
	width: 100%;
	overflow: hidden;
  position: relative;
  box-shadow: 0 2px 30px rgba(0, 0, 0, .1);
}
.demo_link:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: .3s all ease-in-out;
  left: 0;
  background-color: rgba(0,0,0,.7);
}
.demo_link:hover::before {
  opacity: 1;
  visibility: visible;
}
.view_btn {
  position: absolute;
  top: 0;
  background-color: #f3525a;
  left: 0;
  top: 40%;
  right: 0;
  z-index: 1;
  color: #fff;
  width: 180px;
  height: 60px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  transform: translateY(-50%);
  border-radius: 30px;
  opacity: 0;
  transition: .3s all ease-in-out;
  visibility: hidden;
}

.demo_link:hover .view_btn,
.demo_link:hover::before {
  opacity: 1;
  visibility: visible;
}
.demo_link:hover .view_btn {
  top: 50%;
}
.view_btn a {
  display: block;
  width: 100%;
}
.demo_link img {
	top: 0;
	left: 0;
}
.page-title {
	padding: 20px;
	margin-bottom: 100px;
  text-transform: uppercase;
  box-shadow: 0 2px 30px rgba(0, 0, 0, .1);
}
.page-title h3 {
	font-size: 18px;
  font-weight: 700;
}
.page-title h3 a {
	width: 100%;
	display: block;
}
.feature-section {
  padding-bottom: 110px; 
}
.feature-section .area-title strong {
  color: #3763ec; 
}
.feature-section .area-title span {
  font-weight: 700;
}
.feature-section .area-title h2:after {
  left: -15px; 
}
.feature-section .area-title h2:before {
  left: 10px; 
}
.feature-section .col-lg-4:nth-child(3) .feature-content::after,
.feature-section .col-lg-4:nth-child(6) .feature-content::after {
  display: none;
}

.feature-content-item {
  background-color: #fafafa;
  -webkit-box-shadow: 0px 14px 65px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 65px 0px rgba(0, 0, 0, 0.15);
  position: relative; 
}
.feature-content-item:after {
  top: 50%;
  left: 0;
  right: 0;
  content: '';
  width: 90%;
  margin: 0 auto;
  position: absolute;
  border: 1px dashed #d0d0d0; 
}

.feature-content {
  position: relative;
  padding: 40px 40px 55px 45px;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; 
}
.feature-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0px 15px 0px;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; 
}
.feature-content p {
  font-size: 16px;
  max-width: 290px; 
}
.feature-content:after {
  top: 50px;
  content: '';
  height: 60%;
  right: -15px;
  position: absolute;
  border-right: 1px dashed #d0d0d0; 
}
.feature-content:hover h3 {

  color: #723cbe; 
}
.feature-content:hover  {
  -webkit-box-shadow: 0px 40px 80px 0px rgba(4, 10, 48, 0.06);
  box-shadow: 0px 40px 80px 0px rgba(4, 10, 48, 0.06); 
}
.more-feature-section {
  background-color: #f9f9f9;
  padding: 120px 0px;
}
.more-feature-section .feature span img {
  width: 70px;
  height: 70px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto 15px;
}
.more-feature-section .feature {
  width: 100%;
  height: auto;
  padding: 45px 30px 30px 30px;
  min-height: 205px;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 30px;
  background: #ffffff;
}
.more-feature-section .feature h3 {
    margin: 0px;
    color: #151515;
    margin-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
}